# virtual environments 
venv

# librairies
node_modules

# javascript testing
test.js
.kata.json
package-lock.json

# python caching
.pyc
__pycache__

# workspace
.vscode
codewars_test
settings.json

